.container {
    border-radius: 16px;
    border: 1px solid #034E13;
    background: rgba(206, 221, 236, 0.623); 
    box-shadow: 0px 8px 16px 0px rgba(228, 232, 238, 0.15);
    width: 684px;
    max-width: 90%;
    margin: 80px auto;
    padding: 56px 134px;
    box-sizing: border-box;
}

